.c-rotate__title {
    animation: vertical-single-rotate 6s infinite linear; /* 6秒かけて360度回転して、その後3秒間止まる */
    font-family: $font-en;
    font-size: 50px;
    line-height: 70px;
    padding-bottom: 1vh;
    animation: none;
    @include mq("lp") {
    font-size: 40px;
    line-height: 1.2;
    }
    @include mq("tab") {
    font-size: 35px;
    line-height: 1.2;
    }
    @include mq("sp") {
    font-size: 35px;
    }
}

.c-main__title {
    font-family: $font-en;
    font-size: 120px;
    font-weight: 600;
    line-height: 150px;
    @include mq("lp") {
    font-size: 100px;
    line-height: 1.2;
    }
    @include mq("tab") {
    font-size: 90px;
    line-height: 1.2;
    }
    @include mq("sp") {
    font-size: 80px;
    line-height: 1;
    }
}
.c-main__subtitle {
    font-family: $font-en;
    font-size: 40px;
    padding-bottom: 5vh;
    @include mq("lp") {
    font-size: 36px;
    padding-bottom: 2vh;
    }
    @include mq("tab") {
    font-size: 30px;
    padding-bottom: 2vh;
    }
    @include mq("sp") {
    font-size: 26px;
    padding-bottom: 2vh;
    }
}
.c-title__lead {
    font-size: 24px;
    @include mq("lp") {
    font-size: 20px;
    }
    @include mq("tab") {
    font-size: 20px;
    }
    @include mq("sp") {
    font-size: 18px;
    }
    a {
    color: #ff9800;
    }
}

.c-copy {
  padding-top: 3vh;
  text-align: center;
  font-size: 25px;
  @include mq("lp") {
    font-size: 20px;
  }
  @include mq("tab") {
    font-size: 20px;
  }
  @include mq("sp") {
    font-size: 18px;
  }
}

.c-section__title {
  font-family: $font-en;
  font-size: 72px;
  text-align: center;
  position: relative;
  margin-bottom: 1vh;
  @include mq("tab") {
    font-size: 60px;
  }
  @include mq("sp") {
    font-size: 50px;
  }
  &:after {
    position: absolute;
    content: "";
    width: 7vw;
    background: $accent-color;
    height: 2px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.c-section__subtitle {
  font-size: 24px;
  text-align: center;
  margin-bottom: 4vh;
  @include mq("tab") {
    font-size: 20px;
  }
  @include mq("sp") {
    font-size: 16px;
  }
}

.c-about__main-title {
  font-size: 90px;
  font-weight: 700;
  font-family: $font-title;
  line-height: 7rem;
  padding-bottom: 3vh;
  @include mq("lp") {
    font-size: 70px;
    padding-bottom: 1vh;
    line-height: 1.7;
  }
  @include mq("tab") {
    font-size: 50px;
    padding-bottom: 1vh;
    line-height: 1.4;
  }
  @include mq("sp") {
    font-size: 50px;
    padding-bottom: 1vh;
    line-height: 1.4;
  }
}
.c-about__title {
  font-size: 30px;
  font-weight: 600;
  padding-bottom: 2vh;
  line-height: 3rem;
  &:last-child {
    padding-bottom: 0;
  }
  @include mq("lp") {
    font-size: 24px;
    padding-bottom: 1vh;
    line-height: 1.5;
  }
  @include mq("tab") {
    font-size: 20px;
    padding-bottom: 1vh;
    line-height: 1.5;
  }
  @include mq("sp") {
    font-size: 24px;
    padding-bottom: 1vh;
    line-height: 1.4;
  }
}

.c-about__lead {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  a {
    color: #64629d;
    text-decoration: underline;
  }
  @include mq("lp") {
    font-size: 16px;
    line-height: 1.5;
  }
  @include mq("tab") {
    font-size: 14px;
    line-height: 1.5;
  }
  @include mq("sp") {
    font-size: 16px;
    line-height: 1.2;
  }
}

.c-require {
    font-size: 14px;
    text-align: center;
}

.c-btn {
  display: block;
  width: 30vw;
  background: $font-color;
  color: #fff;
  font-size: 40px;
  font-family: $font-en;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
  border-radius: 64px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.16);
  @include mq("lp") {
    padding: 20px;
  }
  @include mq("tab") {
    padding: 10px;
    font-size: 30px;
  }
  @include mq("sp") {
    width: 70vw;
    font-size: 30px;
    padding: 10px;
  }

  i.fa-brands {
    color: #fff; // 通常時のTwitterアイコンの色
    padding-right: 1vw;
  }

  &:hover {
    background: #fff;
    color: $font-color;

    i.fa-brands {
      color: $font-color; // ホバー時のTwitterアイコンの色
    }
  }
}

.c-btn:hover {
    transform: translateY(-5px);  /* 上に5ピクセル動く */
}

.to-top {
  position: fixed;
  right: 18px;
  bottom: 20px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
  z-index: 100;
  width: 44px;
  height: 44px;

  @include mq("sp") {
    width: 50px;
    height: 50px;
    right: 35px;
    bottom: 18px;
  }

  &.is-show {
    opacity: 1;
    visibility: visible;
  }

  a {
    transition: all 0.3s ease 0s;

    &:hover {
      opacity: 0.7;
    }

    img {
      width: 60px;
    }
  }
}