.u-orange {
  color: $main-color;
  font-size: 30px;
  padding-right: 0.5vw;
  @include mq("tab") {
    font-size: 24px;
  }
  @include mq("sp") {
    font-size: 20px;
  }
}

.u-orange40 {
  color: $main-color;
  font-size: 40px;
  padding-right: 0.5vw;
  @include mq("lp") {
    font-size: 30px;
  }
  @include mq("tab") {
    font-size: 24px;
  }
  @include mq("sp") {
    font-size: 20px;
  }
}

#u-w40vw {
  width: 40vw;
  padding-right: 5vw;
  @include mq("sp") {
    width: 100%;
    padding-right: 0;
    padding-bottom: 5vh;
  }
}

.u-font__main {
  color: $main-color;
}

.u-ja {
  font-family: $font-ja;
  font-size: 16px;
  @include mq("sp") {
    font-size: 12px;
  }
}

.u-tac {
  text-align: center;
}

.u-font__accent {
  color: $accent-color;
}

.u-mb5 {
  margin-bottom: 3vh;
  @include mq("lp") {
    margin-bottom: 2vh;
  }
  @include mq("tab") {
    margin-bottom: 1vh;
  }
  @include mq("sp") {
    margin-bottom: 1vh;
  }
}

.u-lh24 {
  line-height: 1;
  padding-bottom: 3vh;
  @include mq("lp") {
    padding-bottom: 2vh;
  }
  @include mq("tab") {
    padding-bottom: 1vh;
  }
  @include mq("sp") {
    padding-bottom: 1vh;
  }
}

.after01 {
  margin-left: 3vw;
  @include mq("sp") {
    margin-left: 0;
  }
  &:after {
    position: absolute;
    content: "01";
    color: #fff;
    font-size: 288px;
    font-weight: 400;
    font-family: $font-en;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -1;
    opacity: 0.4;
    @include mq("tab") {
      font-size: 200px;
    }
    @include mq("sp") {
      font-size: 180px;
    }
  }
}
.after02 {
  margin-right: 5vw;
  @include mq("sp") {
    margin-left: 0;
  }
  &:after {
    position: absolute;
    content: "02";
    color: #fff;
    font-size: 288px;
    font-weight: 400;
    font-family: $font-en;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -1;
    opacity: 0.4;
    @include mq("tab") {
      font-size: 200px;
    }
    @include mq("sp") {
      font-size: 180px;
    }
  }
}
.after03 {
  margin-left: 5vw;
  @include mq("sp") {
    margin-left: 0;
  }
  &:after {
    position: absolute;
    content: "03";
    color: #fff;
    font-size: 288px;
    font-weight: 400;
    font-family: $font-en;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -1;
    opacity: 0.4;
    @include mq("tab") {
      font-size: 200px;
    }
    @include mq("sp") {
      font-size: 180px;
    }
  }
}

.after04 {
  margin-left: 5vw;
  @include mq("sp") {
    margin-left: 0;
  }
  &:after {
    position: absolute;
    content: "04";
    color: #fff;
    font-size: 288px;
    font-weight: 400;
    font-family: $font-en;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -1;
    opacity: 0.4;
    @include mq("lp") {
      right: 10%;
    }
    @include mq("tab") {
      font-size: 200px;
    }
    @include mq("sp") {
      font-size: 180px;
    }
  }
}

.after05 {
  margin-left: 5vw;
  @include mq("sp") {
    margin-left: 0;
  }
  &:after {
    position: absolute;
    content: "05";
    color: #fff;
    font-size: 288px;
    font-weight: 400;
    font-family: $font-en;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -1;
    opacity: 0.4;
    @include mq("lp") {
      right: 10%;
    }
    @include mq("tab") {
      font-size: 200px;
    }
    @include mq("sp") {
      font-size: 180px;
    }
  }
}
.after06 {
  margin-left: 5vw;
  @include mq("sp") {
    margin-left: 0;
  }
  &:after {
    position: absolute;
    content: "06";
    color: #fff;
    font-size: 288px;
    font-weight: 400;
    font-family: $font-en;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -1;
    opacity: 0.4;
    @include mq("lp") {
      right: 10%;
    }
    @include mq("tab") {
      font-size: 200px;
    }
    @include mq("sp") {
      font-size: 180px;
    }
  }
}
.after07 {
  margin-left: 5vw;
  @include mq("sp") {
    margin-left: 0;
  }
  &:after {
    position: absolute;
    content: "07";
    color: #fff;
    font-size: 288px;
    font-weight: 400;
    font-family: $font-en;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -1;
    opacity: 0.4;
    @include mq("lp") {
      right: 10%;
    }
    @include mq("tab") {
      font-size: 200px;
    }
    @include mq("sp") {
      font-size: 180px;
    }
  }
}
.after08 {
  margin-left: 5vw;
  @include mq("sp") {
    margin-left: 0;
  }
  &:after {
    position: absolute;
    content: "08";
    color: #fff;
    font-size: 288px;
    font-weight: 400;
    font-family: $font-en;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    z-index: -1;
    opacity: 0.4;
    @include mq("lp") {
      right: 10%;
    }
    @include mq("tab") {
      font-size: 200px;
    }
    @include mq("sp") {
      font-size: 180px;
    }
  }
}

.u-pl20 {
  padding-left: 20px;
}

.u-en {
  font-family: $font-en;
}